// import additional fonts
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap");
// Then add additional custom code here
$primary: #0074d9;
$danger: #ff4136;

$altprimary: #62bfad;
$altdark: #1b1d1c;
$gray: #f1f1f3;
$altsecondary: #eec0db;

$theme-colors: (
    "primary": $primary,
    "danger": $danger,
);
$custom-colors: (
    "altprimary": $altprimary,
    "altdark": $altdark,
    "gray": $gray,
    "altsecondary": $altsecondary,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$font-family-sans-serif: "Poppins", sans-serif;

.font-fair {
    font-family: "Playfair Display", serif;
}

// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
